<div class="row-fluid">
    <div class="row">
        <div class="span8">
            <div class="video-player-section">

                <div class="video-player-container">
                    <% if (fileName == ''){ %>
                        <div class="alert alert-block">
                            You don't have any video selected, click on the plus image below or the load video button to select a video.
                        </div>
                    <% } %>
                    <video class="video-player" style="display: <%= fileName == '' ? 'none;' : 'block;' %>">
                        <source src="videos/<%= fileName %>" type="video/mp4">
                    </video>
                    <% if (fileName == ''){ %>
                        <div class="video-player" style="background-color: #fff">
                            <a href="#" class="add-video img-circle" title="Add Video"></a>
                        </div>
                    <% } %>
                </div>
                <div class="video-properties" style="display: <%= fileName == '' ? 'none;' : 'block;' %>">
                    <div class="video-properties-row">
                        <span class="video-name"></span>
                    </div>
                    <div class="video-properties-row">
                        <span>Duration: </span><span class="video-duration"></span>
                    </div>
                    <div class="video-properties-row">
                        <span>Resolution: </span><span class="video-resolution"></span>
                    </div>
                    <br class="clearfix"/>
                </div>
            </div>
        </div>
        <div class="span4">
            <div class="action-buttons">
                <a href="#" class="btn btn-primary btn-load-video"><i class="icon-plus icon-white"></i><span>Load Video<span></a>
                <a href="#" class="btn btn-success btn-save <%= fileName == '' ? 'disabled' : '' %>"><i class="icon-film icon-white"></i><span>Save<span></a>
            </div>

            <div class="alert action-buttons-alert" style="display: none;"></div>

            <div class="btn-group" style="display: none;">
              <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                Video Screen Size
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                    <a href="#" class="screen-size" data-screen-size="iphone3">iPhone 3.5 inch</a>
                </li>
                <li>
                    <a href="#" class="screen-size" data-screen-size="iphone4">iPhone 4 inch</a>
                </li>
              </ul>
            </div>

            <div class="navbar hotspots-navbar">
                <div class="navbar-inner navbar-flag">
                    <a class="brand" href="#">Add Hotspot</a>
                    <ul class="nav">
                        <li class="divider-vertical">
                            <a href="#" title="Rectangular" class="add-hotspot hotspot-rectangular" data-hotspot-shape="rectangular">
                                <span>Rectangular</span>
                            </a>
                        </li>
                        <li class="divider-vertical">
                            <a href="#" title="Elliptical" class="add-hotspot hotspot-elliptical disabled" data-hotspot-shape="elliptical">
                                <span>Elliptical</span>
                            </a>
                        </li>
                        <li class="divider-vertical">
                            <a href="#" title="Irregular" class="add-hotspot hotspot-irregular disabled" data-hotspot-shape="irregular">
                                <span>Irregular</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="hotspot-list-container">
                <ul class="hotspot-list nav"></ul>            
            </div>
        </div>

        <div id="browseVideoModal" class="modal hide fade">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Browse Video</h3>
          </div>
          <div class="modal-body"></div>
          <div class="modal-footer">
            <a href="javascript:void(0);" class="btn browse-cancel-btn">Cancel</a>
          </div>
        </div>
    </div>
</div>