<div class="hotspot-detail" data-id="<%= id %>">
	<div class="hotspot-detail-header navbar-inner">
		<input type="text" class="hotspot-name"></input>
		<a href="#" title="Delete Hotspot" class="hotspot-delete-icon" data-id="<%= id %>"><i class="icon-trash"></i></a>
	</div>
	<div class="hotspot-detail-body">
		<form>
			<label for="hotspot-link">Link</label>
			<input type="text" name="hotspot-link" class="hotspot-link input-xlarge"></input>
		</form>
		<form class="form-inline form-coordinates">
			<div>
				<label>Coordinates</label>
			</div>
			<input type="text" class="input-small" value="<%= width %>" />
			<input type="text" class="input-small" value="<%= height %>" />
			<input type="text" class="input-small" value="<%= left %>" />
			<input type="text" class="input-small" value="<%= top %>" />
		</form>
	</div>
</div>